h1 {
    color: #EA58FB;
}

img { 
    border-radius: 20%;
}

h3 {
    border: 5px solid black;
}

iframe { 
    border: 8px solid #fff;
    margin-bottom: 25px;
}
    
p { 
    background-color: #FBF658
}

body {
    background-color: #31C3E1
    
}

.artists {
    color:white;
    font-family:'Amatica SC', sans-serif;
    font-size:40px;
}

body {
    text-align: center
}