h1 {
    color: #778899;
}

p{
    background-color: pink;
}

img { 
    border-radius: 20%;
}

h3 {
    border: 5px solid black;
}

iframe { 
    border: 8px solid #fff;
    margin-bottom: 25px;
}
    
p { background-color: #87CEFA
}

body {
    background-color; #31C3E1
}
